<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LispIDEConfig" type="LispIDEdotNet.Utilities.Configuration.LispIDEConfigSection,LispIDE.Net" allowExeDefinition="MachineToLocalUser"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LispIDEdotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  <LispIDEConfig>
    <RecentFiles maxCount="6" fileList="" />
  </LispIDEConfig>
  <userSettings>
    <LispIDEdotNet.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WindowBounds" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="LispPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PipeType" serializeAs="String">
        <value>Integrated</value>
      </setting>
      <setting name="ShowToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStatusbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowWhitespace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowEOL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLineNumbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableIndentGuides" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFolding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAutocomplete" serializeAs="String">
        <value>True</value>
      </setting>
    </LispIDEdotNet.Properties.Settings>
  </userSettings>
</configuration>
